data/
*.pyc
*.pyo
.python-version
*.DS_Store
*/__pycache__/
*/.pytest_cache/
*/.venv/
.env.toml
/.quarto/
.jupyter/
notebooks/test/
matlab/
archive/
.vscode/
bad_subjects/
**/.ipynb_checkpoints/
analysis copy/
**.fif
.mypy_cache/
.pytest_cache/
results_WIP/
src/spectral/spectral.egg-info/
paths-analysis/
prompt-context.txt
outputs/
_resources
_archive/
**/__marimo__/
.venv/
.ruff_cache/
__pychache__/
_resources/
_output/
claude.md
py-context.txt
.tmp.driveupload/
.idea/
pipeline/
.claude/
**/*.quarto_ipynb
**/__pychache__/
**/Icon?