data/
*.pyc
*.pyo
.python-version
*.DS_Store
*/__pycache__/
*/.pytest_cache/
*/.venv/
.env.toml
/.quarto/
analysis/
.jupyter/
notebooks/test/
matlab/
archive/
analysis/
.vscode/
bad_subjects/
**/.ipynb_checkpoints/
analysis copy/