data/
*.pyc
*.pyo
.python-version
*.DS_Store
*/__pycache__/
*/.pytest_cache/
*/.venv/
.env.toml
/.quarto/
.jupyter/
notebooks/test/
matlab/
archive/
.vscode/
bad_subjects/
**/.ipynb_checkpoints/
analysis copy/
**.fif
.mypy_cache/
.pytest_cache/
results_WIP/
src/spectral/spectral.egg-info/
paths-analysis/