pandas
polars>0.20.0
pyarrow
tabulate
pysftp
synapseclient
specparam
ipykernel
python-dotenv
pip
mne
seaborn
invoke
nbconvert
fooof
great_tables
autoreject
mne_bids
pybv
eeglabio
EDFlib-Python
mne-bids-pipeline
ipyevents
pytest>=8.0.0
jupyterlab>=4.0.0
jupytext
numpy<2.0.0
PySide6==6.5.3
mnelab==0.8.6
mne-qt-browser
PyQt6==6.5.3
mne-icalabel[gui]
matplotlib-inline
ipympl